body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  max-width: 1920px;
  width: 1920px;
  height: 1350px;
  background: #EBEBEB;
}
.imgMain {
  border: 5px solid purple;
  margin-bottom: 123px;
}
.divLogo {
  text-align: center;
  margin-top: 79px;
  margin-bottom: 85px;
}
.App {
  text-align: center;
}
.btn1 {
  padding: 18px 82px;
  border-radius: 8px;
  background: #62A1EB;
  border: 0;
  color: white;
  font-size: 20px;
  width: 387px;
  height: 60px;
  margin-bottom: 26px;
  cursor: pointer;
}
.btn1:hover {
  background: #317AD0;
}
.header-top {
  span, p {
    font-size: 24px;
    margin-right: 66px;
  }
  margin-top: 91px;
  padding-left: 324px;
  img {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 27px;
  }
}
.content {
  width: 1226px;
  height: 1100px;
  background-color: white;
}
.container {
  margin-left: 347px;
  margin-right: 347px;
 
}
.btnimg {
  position: absolute;
  top: 53px;
  left: 70px;
  cursor: pointer;
}
.content-container{
  margin-left: 174px;
  margin-right: 174px;
  padding-top: 96px;
  button {
    padding: 18px 45px;
    background: #62A1EB;
    color: white;
    border: 0;
    font-size: 20px;
    margin-top: 95px;
    margin-bottom: 45px;
    justify-content: right;
  }
  .l-info {
    div {
      margin-top: 51px;
      display: flex;
      flex-direction: column;
      input{
        width: 862px;
        height: 60px;
        border-radius: 8px;
        border-color: #8AC0E2;
        padding-left: 16px;
        font-size: 21px;
      }
      label {
        font-size: 21px;
        margin-bottom: 8px;

      }
      p {
        color: #00000099;

      }
    }
  }
}
.info {
  display: flex;
  div {
    margin-right: 63px;
    input {
      width: 392px;
      height: 60px;
      font-size: 21px;
      color: #00000099;
      padding-left: 16px;
      border-radius: 8px;
      border-color: #8AC0E2;
      
    }
    .lab {
      color: #00000099;
    }
  }
}
.select-info {
  select {
    width: 100%;
    height: 60px;
    background: #EBEBEB;
    border: 0;
    padding-left: 16px;
    font-size: 21px;
    margin-top: 52px;
    &:active {
      background-color: white;
    }
  }
}
.red-logo{
  text-align: center;
  margin-top: 58px;
}